body{
    background-image: -webkit-image-set("https://i.pinimg.com/564x/17/65/93/1765939c2102247f949502cdcb8a75a6.jpg"); 
    background-color: red; 
    
}

h1{
    font-style: normal;
    font-size: 30pt; 
    text-align: center;
    

}